<div class="container actors">
  <div class="row col-sm-12">
    <%= link_to "Crear Actor", new_actor_path, class: "btn btn-primary" %>
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Bio</th>
          <th>Fecha de Nacimiento</th>
          <th>Lugar de Nacimiento</th>
          <th>Fecha de fallecimiento</th>
          <th>Lugar de fallecimiento</th>
        </tr>
      </thead>
      <tbody>
        <%= render @actors %>
      </tbody>
    </table>
  </div>
</div>