<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>URL</th>
    <th>Descripción</th>
  </tr>
  <% @actors.each do |actor| %>
    <tr>
      <td><%= actor.id %></td>
      <td><%= actor.name %></td>
      <td><%= actor.url %></td>
      <td><%= actor.description %></td>
    </tr>
  <% end %>
</table>