<h1>Actors information</h1>

<thead>
    <tr>
        <th>name</th>
        

    </tr>





</thead>


<tbody>  
<% @actors.each do |comment| %>
<tr>
    <td><%= comment.actors.name %> </td>
</tr>

<% end %>  
  </tbody>  
</table>
